.manager-section {
    margin-top: 30px;
    .pin-code-container {
        margin-top: 80px;
        .full-width-input {
            width: 100%;
        }
        .col-4 {
            margin: 10px 0;
            padding: 0 30px;
            button {
                // margin: 20px 0;
                // padding: 10px 20px;
            }
        }
    }
}