<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light fixed-top" style="background-color: #e3f2fd;">
  <ul>
    <li><a [routerLink]="['welcome']" class="navbar-brand">
        <span class="brand">Island</span> 
        <span class="slogan">Salon & Nail Spa</span>
      </a></li>
    <li>

    </li>
    <li>
      <a [routerLink]="['employee']"> <i  class="face material-icons">group</i> </a>
      <a [routerLink]="['manager']"> <i class="face material-icons">person</i></a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>



<footer class="fixed-bottom">
  <p>© New Nail Solution 2017</p>
</footer>
