@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding-top: 4em;
}

.brand {
    font: 400 3.5em/125% 'Courgette', Helvetica, Sans-serif;
}

.slogan {
    margin-left: 30px;
    font-size: 2em;
}

.modal-body .row button {
    margin: 10px 0 10px 0;
}

.custom-spinner md-dialog-container {
    background: transparent;
}

nav .material-icons {
    font-size: 40px;
    padding: 5px 15px;
    margin: 1px 5px;
    border: 1px solid black;
}

.body-section {
    margin-top: 80px;
}