@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding-top: 4em;
}

.brand {
    font: 400 3.5em/125% 'Courgette', Helvetica, Sans-serif;
}

.slogan {
    margin-left: 30px;
    font-size: 2em;
}

.modal-body .row button {
    margin: 10px 0 10px 0;
}