<div class="panel panel-primary welcome body-section">
    <div class="panel-heading">

    </div>
    <div>
        <div class="row justify-content-center">
            <div class="col-4">
                {{pageTitle}}
                <div class="text-logo"> {{textLogo}}</div>
                <!-- <div class="text-center">Developed by:</div>
                <h3 class="text-center">VNUS Solution</h3>

                <div class="text-center">
                    <a href="http://www.vnussolution.com">www.vnussolution.com</a>
                </div> -->
            </div>

        </div>
    </div>
</div>
